/*
1) Font=Roboto , 400px,700px,500px,
*/

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/roboto-v29-latin-regular.eot');
    src: local(''),
        url('../fonts/roboto-v29-latin-regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/roboto-v29-latin-regular.woff2') format('woff2'),
        url('../fonts/roboto-v29-latin-regular.woff') format('woff'),
        url('../fonts/roboto-v29-latin-regular.ttf') format('truetype'),
        url('../fonts/roboto-v29-latin-regular.svg#Roboto') format('svg');
}


@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/roboto-v29-latin-500.eot');
    src: local(''),
        url('../fonts/roboto-v29-latin-500.eot?#iefix') format('embedded-opentype'),
        url('../fonts/roboto-v29-latin-500.woff2') format('woff2'),
        url('../fonts/roboto-v29-latin-500.woff') format('woff'),
        url('../fonts/roboto-v29-latin-500.ttf') format('truetype'),
        url('../fonts/roboto-v29-latin-500.svg#Roboto') format('svg');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/roboto-v29-latin-700.eot');
    src: local(''),
        url('../fonts/roboto-v29-latin-700.eot?#iefix') format('embedded-opentype'),
        url('../fonts/roboto-v29-latin-700.woff2') format('woff2'),
        url('../fonts/roboto-v29-latin-700.woff') format('woff'),
        url('../fonts/roboto-v29-latin-700.ttf') format('truetype'),
        url('../fonts/roboto-v29-latin-700.svg#Roboto') format('svg');
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1197px;
    padding: 0 20px;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: space-between;
}

.header_img {
    margin-top: 27px;
    margin-bottom: 12px;

}

.header_list {
    display: flex;
    padding: 0px;
    list-style: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    margin: 0px;
}

.header_item {
    padding: 0px;
    margin-left: 40px;
    margin-top: 50px;
}

.header_div {
    padding: 15px 30px;
    background-color: rgba(0, 130, 244, 1);
    border-radius: 6px;
    margin-bottom: 35px;
    margin-top: 36px;
    color: white;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;

}

.active {
    color: rgba(0, 130, 244, 1);
    border-bottom: 1px solid rgba(0, 130, 244, 1);
}

.header_list :hover {
    color: rgba(0, 130, 244, 1);
    border-bottom: 1px solid rgba(0, 130, 244, 1);
}

/*header qismi tugashi*/

.main {
    height: 500px;
    margin-top: 100px;
    display: flex;
}

.main_div {
    margin-right: 121px;
}

.main_h2 {
    width: 531px;
    margin: 5px 0 20px 0;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 60.55px;
    line-height: 130%;
}

.main_span {
    color: rgba(0, 130, 244, 1);
}

.main_p {
    color: rgba(0, 130, 244, 1);
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 29px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    margin: 0;
    margin-top: 80px;
}

.main_p2 {
    width: 436px;
    height: 46px;
    color: darkgrey;
    margin: 0px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
}

.main_get {
    display: flex;
    align-items: center;
}

.main_button1 {
    padding: 15px 30px;
    background-color: rgba(0, 130, 244, 1);
    border-radius: 10px;
    margin-top: 30px;
    margin-right: 30px;
    color: white;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    border: 1px solid rgba(0, 130, 244, 1);
}

.main_button2 {
    padding: 15px 30px;
    border-radius: 10px;
    margin-top: 30px;
    margin-right: 30px;
    display: flex;
    align-content: center;
    border: 1px solid white;

}

.main_div3 {
    padding: 5px
}

/*main qismi tugashi*/

.inner {
    height: 486px;
    display: flex;
    margin-top: 161px;
    justify-content: flex-end;
}

.inner_div {
    order: 1;
    margin-left: 175px;
    width: 496px;
}

.inner_h2 {
    width: 496px;
    margin: 5px 0 20px 0;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 49px;
    line-height: 130%;
}

.inner_p {
    color: rgba(0, 130, 244, 1);
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 29px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    margin: 0;
    margin-top: 120px;
}


.inner_p2 {
    width: 496px;
    height: 46px;
    color: darkgrey;
    margin: 0px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
}

.inner_div2 {
    padding: 15px 30px;
    background-color: rgba(0, 130, 244, 1);
    border-radius: 10px;
    margin-top: 30px;
    margin-right: 320px;
    color: white;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
}

/*inner qismi tugashi*/

.buy {
    height: 489px;
    margin-top: 212px;
    margin-bottom: 124px;
}

.buy_h1 {
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 48.44px;
    line-height: 150%;
    margin-top: 0;
    margin-bottom: 60px;
}

.buy_list {
    display: flex;
    list-style: none;
    text-align: center;
    padding: 0;
}

.code {
    padding: 0 90px 0 90px;
}


.buy_h3 {
    margin-top: 60px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 130%;
}

.buy_p {
    width: 304px;
    height: 90px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 150%;
    text-align: center;
    color: dimgray;
}

/*buy qismi tugashi*/

.Customers {
    margin-bottom: 176px;
}

.customers_h3 {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 48.44px;
    line-height: 150%;
}

.customers_button1 {
    padding: 0;
    border-radius: 50%;
    border: 1px solid white;
    margin-left: 275px;
    margin-right: 20px;
    box-sizing: border-box;
}

.customers_button2 {
    padding: 0;
    border-radius: 50%;
    border: 1px solid white;
    box-sizing: border-box;
}

.customers_img {
    margin: 0;
    padding: 0;
}

.customers_div9 {
    display: flex;
    margin-top: 60px;
}

.customers_div1 {
    width: 420px;
    height: 283px;
    display: flex;
    flex-direction: row;
    margin-right: 67px;
}

.customers_div2 {
    width: 62px;
    height: 283px;
    background-color: #0082F4;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;

}

.customers_img1 {
    margin-top: 110px;
    margin-bottom: 110px;
    border: 2px solid white;
    border-radius: 50%;
    margin-left: 30px;
}

.customers_inner {
    margin-left: 65px;
}

.customers_p {
    width: 201px;
    height: 120px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 150%;
    color: black;
    margin-top: 30px;
    margin-bottom: 45px;
}

.customers_img2 {
    padding: 2px;
    margin-right: 10px;
}

.customers_p2 {
    margin-left: 40px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 120%;
    color: dimgrey;
}

/* customers qismi tugashi*/

.newsletter {
    height: 338px;
}

.newsletter_h3 {
    margin: 75px auto 15px;
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 31.25px;
    line-height: 37px;
    color: #058AFF;
}

.newsletter_p {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
}

.newsletter_input {
    width: 487px;
    height: 82px;
    border: 1px solid #058AFF;
    display: flex;
    align-items: center;
    margin-left: 350px;
    border-radius: 10px;
}

.newsletter_img {
    margin: 28px 0 28px 25px;
}

.newsletter_span {
    margin: 30px 0 30px 25px;
}

.newsletter_link {
    padding: 15px 30px;
    background-color: rgba(0, 130, 244, 1);
    border-radius: 10px;
    color: white;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    margin: 15px 25px 15px 166px;
}

/*newsletter qismi tugashi*/

.footer {
    height: 329px;
    display: flex;
}

.footer_one {
    margin: 62px 153px 0 0;
}

.footer_list {
    list-style: none;
    padding: 0;font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 150%;
}

.footer_item {
    margin-bottom: 15px;
}

.footer_two {
    margin: 62px 105px 0 0;
}

.footer_list1 {
    list-style: none;
    padding: 0;font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 150%;
}

.footer_item1 {
    margin-bottom: 15px;
}

.footer_three {
    margin: 62px 97px 0 0;
}

.footer_list2 {
    list-style: none;
    padding: 0;font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 150%;
}

.footer_item2 {
    margin-bottom: 15px;
}
    
.footer_fo {
    margin: 62px 97px 0 0;
}

.footer_list3 {
    list-style: none;
    padding: 0;font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 150%;
}

.footer_item3 {
    margin-bottom: 15px;
}

.footer_bottom{
    width: 1600px;
    height: 120px;
    background: linear-gradient(180deg, #058AFF 0%, rgba(57, 55, 206, 0.87) 97.91%);
    display: flex;
}

.bottom_h5{
    color: white;
    margin-top: 45px;
    margin-bottom: 45px;
    margin-left: 20px;
    margin-right: 138px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
}

.bottom_div{
    display: flex;
    margin-top: 47px;
    margin-bottom: 47px;
}

.bottom_img{
    margin-left: 30px;
}

.bottom_link{
    width: 101px;
    height: 52px;
    padding: 15px 31px;
    background-color: white;
    border-radius: 10px;
    color:rgba(60, 97, 225, 1);
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;    
    margin-left: 30px;
    margin-top: 37px;
}












